<section>
    <div class="container pr-0 pl-0">
        <app-usuarios-principal></app-usuarios-principal>
        <div class="wrapper fadeInDown">
            <div class="formContent">
            <!-- Tabs Titles -->
        
            <!-- Icon -->
            <div class="fadeIn first">
                <img src="../../../../assets/login.png" id="icon" alt="User Icon" />
            </div>
        
            <!-- Login Form -->
            <form>
                <input type="text" id="login" class="fadeIn second" name="login" placeholder="nombre">
                <input type="text" id="password" class="fadeIn third" name="login" placeholder="Apellido">
                <input type="text" id="password" class="fadeIn third" name="login" placeholder="Teléfono">
                <input type="text" id="password" class="fadeIn third" name="login" placeholder="email">
                <input type="text" id="password" class="fadeIn third" name="login" placeholder="usuario">
                <input type="text" id="password" class="fadeIn third" name="login" placeholder="Contraseña">
                <select class="fadeIn second text-muted">
                    <option class="text-muted">ROLE_USER</option>
                    <option class="text-muted">ROLE_ADMIN</option>
                </select>
                <input type="submit" class="fadeIn fourth" value="Registrar">
            </form>
        
            <!-- Remind Passowrd -->
            <div id="formFooter">
                <a class="underlineHover">agregar Usuario</a>
            </div>
        
            </div>
        </div>
    </div>
</section>