<app-carousel></app-carousel>


<section>
    <div class="container  w-100">
        <div class="wrapper fadeInDown">
            <div class="formContent">
            <!-- Tabs Titles -->
        
            <!-- Icon -->
            <div class="fadeIn first">
                <img src="../../../../assets/login.png" id="icon" alt="User Icon" />
            </div>
        
            <!-- Login Form -->
            <form #register="ngForm" (ngSubmit)="onSubmit(register)">
                <input type="text" #name="ngModel" required [(ngModel)]="user.name" id="name" class="fadeIn second" name="name" placeholder="Nombre">
                <br><span class="text-danger" *ngIf="!name.valid && name.touched">Campo Obligatorio</span>

                <input type="text" #lastname="ngModel" required [(ngModel)]="user.lastname" id="lastname" class="fadeIn second" name="lastname" placeholder="Apellido">
                <br><span class="text-danger" *ngIf="!lastname.valid && lastname.touched">Campo Obligatorio</span>

                <input type="text" #phone="ngModel" required [(ngModel)]="user.phone" id="phone" class="fadeIn second" name="phone" placeholder="Teléfono">
                <br><span class="text-danger" *ngIf="!phone.valid && phone.touched">Campo Obligatorio</span>

                <input type="text" #email="ngModel" required [(ngModel)]="user.email" id="email" class="fadeIn second" name="email" placeholder="Correo">
                <br><span class="text-danger" *ngIf="!email.valid && email.touched">Campo Obligatorio</span>

                <input type="text" #username="ngModel" required [(ngModel)]="user.username" id="username" class="fadeIn second" name="username" placeholder="Username">
                <br><span class="text-danger" *ngIf="!username.valid && username.touched">Campo Obligatorio</span>

                <input type="password" #password="ngModel" required [(ngModel)]="user.password" id="password" class="fadeIn third text-muted" name="password" placeholder="password">
                <br><span class="text-danger" *ngIf="!password.valid && password.touched">Campo Obligatorio</span>

                <input type="password" #passwordConfirm="ngModel" required id="passwordConfirm"   [(ngModel)]="passwordC"  class="fadeIn third text-muted" name="passwordConfirm" placeholder="Confirma tu password">
                <br><span class="text-danger" *ngIf="!passwordConfirm.valid && passwordConfirm.touched || user.password != passwordC">Campo Obligatorio</span><br>

                <input type="submit" class="fadeIn fourth" value="Register">
            </form>
        
            <!-- Remind Passowrd -->
            <div id="formFooter">
                <a class="underlineHover" href="">Unete a nuestra Familia</a>
            </div>
        
            </div>
        </div>
    </div>
    <notifier-container></notifier-container>
</section>
