<section>
    <div class="container pr-0 pl-0">
        <app-usuarios-principal></app-usuarios-principal>
        <div class="w-100 mt-2 pt-2 pl-2 row">
            <div *ngFor="let user of users" class="card mr-2 ml-2" style="width: 18rem;">
                <div class="card-body">
                <h5 class="card-title">{{user.username}}</h5>
                <p class="card-text text-muted">{{user.name}} {{user.lastname}}</p>
                <p class="card-text text-muted">Teléfono: {{user.phone}}</p>
                <p class="card-text text-muted">email: {{user.email}}</p>
                <a data-toggle="modal" (click)="clickUserSelected(user)" *ngIf="user.role != 'ROLE_ADMINLEAGUE'" data-target="#editarUsuario" class="btn mb-2 btn-primary text-light">editar Usuario</a>
                <a  *ngIf="user.role == 'ROLE_ADMINLEAGUE'"  class="btn disabled btn-warning text-light mb-2">Usuario Administrador</a>
                <a data-toggle="modal" (click)="clickUserSelected(user)" *ngIf="user.role != 'ROLE_ADMINLEAGUE'" data-target="#eliminarUser" class="btn btn-danger text-light">Eliminar Usuario</a>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="modal fade" id="editarUsuario" tabindex="-1" role="dialog" aria-labelledby="editarUsuarioTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Editar Usuario {{userSelected.name}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span class="text-muted" aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="text-center">
            <input #name="ngModel" [(ngModel)]="userSelected2.name" type="text" id="name" class="fadeIn second" name="name" placeholder="Nombre">
            <input #lastname="ngModel" [(ngModel)]="userSelected2.lastname" type="text" id="lastname" class="fadeIn second" name="lastname" placeholder="Apellido">
            <input type="text" #phone="ngModel" [(ngModel)]="userSelected2.phone" id="phone" class="fadeIn second" name="phone" placeholder="Teléfono">
            <input type="text" #email="ngModel" [(ngModel)]="userSelected2.email" id="email" class="fadeIn second" name="email" placeholder="email">
            <input type="text" #username="ngModel" [(ngModel)]="userSelected2.username" id="username" class="fadeIn second" name="username" placeholder="username">
            <select class="fadeIn second text-muted" id="role" name="role" #role="ngModel" [(ngModel)]="userSelected2.role">
                <option class="text-muted" selected>ROLE_USER</option>
                <option class="text-muted">ROLE_ADMINLEAGUE</option>
            </select>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button"(click)="updateUser()" data-dismiss="modal" class="btn btn-warning text-light">Editar Usuario</button>
        </div>
      </div>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="eliminarUser" tabindex="-1" role="dialog" aria-labelledby="eliminarUserTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="eliminarUserTitle">ELIMINAR USUARIO</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="text-danger">¿Está seguro que desea eliminar este usuario?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="removeUser()">Eliminar Usuario</button>
      </div>
    </div>
  </div>
</div>
<notifier-container></notifier-container>