<section>
    <div class="container pr-0 pl-0">
        <div class="w-100 text-center">
            <h2 class="text-muted">GRÁFICA DE RESULTADOS</h2>
        </div>
        <div class="ml-2">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Grafíca por:
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Puntos</a>
                  <a class="dropdown-item" href="#">Goleo</a>
                </div>
              </div>
        </div>
        <div style="display: block;">
            <canvas baseChart 
              [data]="pieChartData" 
              [labels]="pieChartLabels" 
              [chartType]="pieChartType"
              [options]="pieChartOptions"
              [plugins]="pieChartPlugins"
              [legend]="pieChartLegend">
            </canvas>
          </div>
          
    </div>
</section>