
<section>
  <div class="container p-3 pt-5">
    <app-torneo></app-torneo>
    <div class="w-100" *ngIf="verify2==1">
      <div class="w-100 mt-2">
        <button class="Gbutton" data-toggle="modal" data-target="#generarJornada">Generar Jornada</button>
      </div>
      <div class="w-100" *ngFor="let session of sessions">
        <div class="w-100 text-center mt-2">
            <h2 class="text-light">{{session.name}}</h2>
        </div>
        <div class="w-100 row justify-content-center">
            <div class="formContent m-2" *ngFor="let mat1 of session.matchs; let indice=index">
                    <h2 class="text-muted">Partido No. {{indice+1}}</h2>
                    <span class="text-light">Resultado {{mat1.goalsFirst}}-{{mat1.goalsSecond}}</span>
                    <div class="w-100 text-center">
                        <div class="w-100" *ngFor="let mat of matches">
                            <span class="text-light"  *ngIf="mat.playersOne[0]._id == mat1.playersOne && mat.playersSecond[0]._id == mat1.playersSecond">{{mat.playersOne[0].name}}</span>
                        </div>
                        <span class="text-muted">vs</span>
                        <div class="w-100"  *ngFor="let mat of matches">
                            <span class="text-light" *ngIf="mat.playersOne[0]._id == mat1.playersOne && mat.playersSecond[0]._id == mat1.playersSecond">{{mat.playersSecond[0].name}}</span>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary mt-2 mb-2" (click)="changeVerify(2,mat1, indice)">
                        Cambiar Resultado
                    </button>
            </div>  
            
        </div>
      </div>
    </div>

    <div class="w-100 mt-4" *ngIf="verify2==2">
        <div class="row m-0" style="justify-content: flex-end;">
            <button (click)="changeVerify2(1)" class="btn btn-danger">X</button>
        </div>
        <div class="w-100 text-center row justify-content-center">
            <h2 class="text-light">PARTIDO No. {{indice+1}}</h2><br>
        </div>
        <div class="w-100 text-center row justify-content-center">
            
            <h2 class="text-muted">RESULTADO {{contadorFinal}}-{{contadorFinal2}}</h2>
        </div>
        <!-- tabla de equipo 1-->
        <div class="table-responsive">
            <table class="table table-hover table-dark">
              <thead>
                <tr>
                  <th scope="col">{{team1.name}}</th>
                  <th></th>
                  <th scope="col">GOLES</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let player of team1.players">
                  <td scope="row">{{player.name}} {{player.lastname}}</td>
                  <td><button class="btn btn-danger" (click)="restarGoles(player)">-</button></td>
                  <td>{{player.goal}}</td>
                  <td><button class="btn btn-success" (click)="sumarGoles(player)">+</button></td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- tabla de equipo 2-->
          <div class="table-responsive">
            <table class="table table-hover table-dark">
              <thead>
                <tr>
                  <th scope="col">{{team2.name}}</th>
                  <th></th>
                  <th scope="col">GOLES</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let player of team2.players">
                  <td scope="row">{{player.name}} {{player.lastname}}</td>
                  <td><button class="btn btn-danger" (click)="restarGoles2(player)">-</button></td>
                  <td>{{player.goal}}</td>
                  <td><button class="btn btn-success" (click)="sumarGoles2(player)">+</button></td>
                </tr>
              </tbody>
            </table>
          </div>
            <div class="w-100 text-center">
                <button class="Gbutton" (click)="saveMatch()">Guardar Cambios</button>
            </div>
    </div>
  </div>
</section>
<notifier-container></notifier-container>

<!-- Modal -->
<div class="modal fade" id="generarJornada" tabindex="-1" role="dialog" aria-labelledby="generarJornadaLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="generarJornadaLabel">Generar Jornada</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="w-100 text-center">
          <label class="text-light">Fecha de Inicio:</label>
          <input type="date" #dateFirst ="ngModel" [(ngModel)]="session.dateFirst" name="dateFirst" id="dateFirst">
          <label class="text-danger">SI TIENES UNA JORNADA EN CURSO SE ELIMINARÁ</label>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="createMatch()" data-dismiss="modal">Generar Jornada</button>
      </div>
    </div>
  </div>
</div>