
<section>
    <div class="container">
        <div class="w-100 h-100 row">
            <div class="card mr-2 ml-2" style="width: 20rem; padding: 1rem  ;" *ngFor="let league of leagues">
                <img  style="height: 9rem!important ; " class="card-img-top" src="{{uri+'getImageLeague/'+league.logo}}">
                <div class="card-body">
                <h5 class="card-title">{{league.name}}</h5>
                <p class="card-text text-muted">{{league.season}}</p>
                <p class="card-text text-muted">{{league.description}}</p>
                <a routerLink="./{{league._id}}/partidos" class="btn btn-primary">Ver Torneo</a>
                </div>
            </div>
            
            <div class="card mr-2 ml-2 mt-2" style=" min-height: 20.5rem; width: 20rem; padding: 1rem  ;">
                <div class="card-body text-center row align-items-center justify-content-center">
                    <div>
                    <h1 class="card-title text-muted">Agregar Torneo</h1>
                    </div>
                    <div>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#agregarTorneo">
                            Agregar Torneo
                          </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<notifier-container></notifier-container>


<div class="modal fade" id="agregarTorneo" tabindex="-1" role="dialog" aria-labelledby="agregarTorneoTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Agregar Torneo</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span class="text-muted" aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #addTorneo="ngForm"  class="text-center">
            <input #name="ngModel" [(ngModel)]="league.name" required  type="text" id="name" class="fadeIn second" name="name" placeholder="Nombre de torneo">
            <br><span class="text-danger" *ngIf="!name.valid && name.touched">Campo Obligatorio</span>
            
            <input #season="ngModel" required [(ngModel)]="league.season" type="text" id="season" class="fadeIn second" name="season" placeholder="Nombre de Temporada">
            <br><span class="text-danger" *ngIf="!season.valid && season.touched">Campo Obligatorio</span>
            
            <input #description="ngModel" required [(ngModel)]="league.description" type="text" id="description" class="fadeIn second" name="description" placeholder="Descripción del torneo">
            <br><span class="text-danger" *ngIf="!description.valid && description.touched">Campo Obligatorio</span>

            <input type="file" id="file" (change)="fileChange($event)" class="fadeIn third text-muted" name="file">
          </form>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="button" (click)="onSubmit()" data-dismiss="modal" class="btn btn-primary">Guardar Torneo</button>
        </div>

      </div>
    </div>
</div>