
<section>
    <div class="container">
        <div class="w-100 h-100 row">
            <div class="card mr-2 ml-2" style="width: 18rem;">
                <img class="card-img-top" style="height: 9rem;" src=".../../../../../../../assets/login.png" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title">TORNEO 1</h5>
                <p class="card-text text-muted">Descripción del torneo 1 , torneo de las margaritas de hombres</p>
                <a routerLink="./torneo1/partidos" class="btn btn-primary">Ver Torneo</a>
                </div>
            </div>
            
            <div class="card" style="width: 18rem; min-height: 20.5rem;">
                <div class="card-body text-center row align-items-center justify-content-center">
                    <div>
                    <h1 class="card-title text-muted">Agregar Torneo</h1>
                    </div>
                    <div>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                            Agregar Torneo
                          </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

